/* set the global values to do not repeat it */
/* scrolling down smoothly not fast */
html {
   scroll-behavior: smooth;
 }
 
html, body{
    margin: 0;
    padding: 0;
    color: var(--body);
    font-size: 16px;
    font-family:Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 h1,h2,h3,h4,h5,h6{
    color : var(--heading)
 }
h1{
   margin: 0;
}
 li{
    list-style-type: none;
 }
 a{
    text-decoration: none;
    color: var(--body);
 }
 img{
   max-width: 100%;
 }
 .po-sec{
 padding-left:var(--12) ;
 padding-right:var(--12) ;
 max-width: var(--full);
 }
 