@import "./normalize.css";
@import "./global.css";
@import "./framework.css";
:root {
   --primary: #5E3BEE;
   --dribble: #E62872;
   --muted: #f5fcff;
   --heading: #282938;
   --body:#1C1E53;
   /* spacing */
    --px: 1px;
      --0: 0px;
     --1: 0.25rem; /* 4px */
    --2: 0.5rem; /* 8px */
    --4: 1rem; /* 16px */
    --10: 2.5rem; /* 40px */
    --12: 3rem; /* 48px */
    --20: 5rem; /* 80px */
    --28: 7rem; /* 112px */
    --32: 8rem; /* 128px */
    --40: 10rem; /* 160px */
    --rounded-btn: 12px;
}
.po-header{
   box-shadow: 0 0 5px rgba(0,0,0, 0.1);
}
